OBJ/
USER/BIN/
USER/DebugConfig/
USER/Firmware_F411.uvguix.lycreturn
*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*._i
*.crf
*.o
*.d
*.axf
*.tra
*.dep
*.txt
*.iex
*.htm
*.sct
*.map